= render :file => File.join("#{Rails.root}/app/assets/templates", "folders", "folders-template")
= render :file => File.join("#{Rails.root}/app/assets/templates", "uploader", "uploader-template")

.container
	%h2
		Plex Uploader
		%small - Media files uploaded here will automatically be added to the connected Plex Media Server.
	#application

- content_for :javascripts do
	:javascript
		$(function() {
			plex.start({
				environment: "#{Rails.env}",
			});
		});


